
/obj
/bin
*.user
*.log
*.pidb
*.userprefs
/HackCraft.LockFree.NUnitTests/PartCover
/HackCraft.LockFree.NUnitTests/bin
/HackCraft.LockFree.NUnitTests/obj
/test-results
/HackCraft.LockFree.NUnitTests/test-results